div {
    font-size: 14px;
}
img {
    float: left;
    padding-right: 10px;
}
.error {
    color: red;
}
.alert {
    margin-left: 10px;
    color: green;
}
.hidden {
    display: none;
}
.row {
    margin-top: 12px;
}
.below-the-icon {
    margin-left: 74px;
}